* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #121214;
    background-color: rgba(40, 37, 37, 0.152);
}
